body{
  margin: 0;
  padding: 0;
background-image: url("../images/reg2.jpg");
background-size: cover;
background-repeat:no-repeat;
background-attachment: fixed;
font-family: sans-serif;
}
.container{

margin-top: 80px;
margin-left: 35%;
}

.panel-body{
  background: none;
  border: none;
}
.panel{
  position: absolute;
 background: rgba(0,0,0,0.3);
 border:0px;
 color:#ffff;
width: 350px;
height: 320px;
text-align: center;
padding-top:50px;

}
.user{
width: 100px;
height: 100px;
border-radius: 50%;
overflow: hidden;
position: absolute;
  top:calc(-100px/2);
  left:calc(50% - 50px);
}

h2{
margin:0;
padding-top:20px;
  color:#FFFF00;
}

.form-group p{
  margin: 0;
  padding-left: 55px;
  font-size: 18px;
  text-align: left;
  font-weight: bold;
  color:#ffff;
}

.form-group input {
  width: 70%;
  margin-bottom: 10px;
}

.form-group input[type="text"],
.form-group input[type="password"]
{
border: none;
border-bottom:1px solid #ffff;
background: transparent;
outline: none;
height: 40px;
color:#ffff;
font-size: 18px;
}

::placeholder{
  color:rgba(255,255,255,0.5);
}

.one{
  border: none;
  outline: none;
  height: 40px;
  color:#fff;
  font-size: 16px;
  background: #ff267e;
  cursor: pointer;
  border-radius: 20px;
}



.one:hover
{
  background: #efed40;
  color:#262626;
}

.message a{
  color:#efed40;
}
